.ListOfGifs {
  display: grid;
  min-height: 100vh;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 0px 16px;
  align-items: center;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}
